{
  "comments": false,

  "plugins": [
    ["@babel/syntax-object-rest-spread"],
    ["@babel/transform-strict-mode"],
    ["@babel/plugin-proposal-object-rest-spread"],
    ["@babel/plugin-transform-async-to-generator"],
    ["babel-plugin-module-resolver", {
      "root": ["src"],
      "extensions": [".js", ".jsx"]
    }]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "58",
          "esmodules": true
        }
      }
    ]
  ]
}
