root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.js]
indent_size = 4
max_line_length = 100

[*.json]
indent_size = 2

[*.ts]
indent_size = 2
max_line_length = 100

[*.yaml]
indent_size = 2
